.header {
    border-bottom: 1px solid #4b5563;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .link {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    color: #4b5563;
    text-decoration: none;
    font-size: 1.25rem;
  }
  .link:hover {
    color: #1f2937;
    border: 1px solid #1f2937;
    padding: 10px;
  }
  .first {
    margin-left: 0px;
  }